<!--The content below is only a placeholder and can be replaced.-->

<ul>
    <li><a routerLink="home">HOME</a></li>
    <li><a routerLink="user">USER</a></li>
</ul>
<app-home></app-home>

<router-outlet></router-outlet>
