.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #FFA500;
}
.color-light {
    background: #E6BE8A;
}
input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:#FFDF00;
    color:#000;
    margin-bottom:1em;
    cursor:pointer;
}
.life-container {
    background:#FAFAD2;
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
}