<p>
  home works!
</p>
<div class="container color-dark">
	<div class="col">
		<p>Administrar fotografos</p>
	</div>
	<div class="col">
		<p>Fotografos Creados: {{photographerCount}}</p>
	</div>
</div>
<div class="container color - light">
	<div class="col">
		<p class="sm">Escribe el nombre aqui:</p>

		<form>
		<!--	<input type="text" class="txt" name="item" placeholder="Nombre..">
			<input type="submit" class="btn" value={{btnText}}>
-->
			<input [(ngModel)]="tempPhoto" type="text" class="txt" name="item" placeholder="nombre" >
	<input type="submit" class="btn" value={{btnText}} (click)="addItem()">		
	
		</form>
		<p>{{tempPhoto}}</p>
	</div>
	<div class="col">
		<p class="life-container">
		
			<p class="life-container" *ngFor="let user of photographers">
				{{ user }}
		</p>
	</div>
</div>

